
body {
  background: grey;
  align-content: center;
  margin: 50px 300px;

}
div {
  text-align: center;
}
h1 {
  color: rgb(41, 39, 39);
  font-family: arial;
  text-align: center;
  font-size: 30px;
}
h3 {
  color: rgb(41, 39, 39);
  font-family: arial;
  text-align: center;
  font-size: 20px;
}
 button {
   font-size: 20px;
   padding: 5px 10px;
 }
 

.picture-group  {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  
 
}  
.background-pic {
  height: 550px; 
  width: 400px; 
  padding: 5px 10px;
  object-fit: none;
}

.location {
  display: flex;
  align-items:center;
  flex-direction: row;
}
.text {
  position: absolute;
  display: inline-flex;
  font-weight: bolder;
  font-size: 30px ;
  font-family: arial;
  flex-direction: column;
  color: white;
  padding: 140px;

}


  





